
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


:root{
/* Website Accessibility */
  --grey-bkg: #dee1e7;
  --shadow-color: 214deg 7% 60%;
  --shadow-elevation-medium:
  0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.33),
  0.7px 1.5px 1.8px -0.9px hsl(var(--shadow-color) / 0.32),
  1.8px 3.7px 4.4px -1.9px hsl(var(--shadow-color) / 0.3),
  4.6px 9.2px 11.1px -2.8px hsl(var(--shadow-color) / 0.28);
  
  --dashed: rgba(45 68 105 / 100%);
  --orange: #ff9900;
  --progress-ylw: #ffc400;
  --red-clr: #c35353;
  --red-clr-hover: #de3838;
  --clr-white: #ffffff; 

  --banner-color: rgba(45 68 105 / 100%);

  --card-bg-color:rgba( 48 72 106 / 20%);
  --card-content-clr:rgba(246 247 249 / 45%);

  --button-clr: rgba(45 68 105 / 100%);
  --button-hover: #1c2c62;
  

  --login-border:rgba(249 250 251 /80%);
  --border-color: rgba(113 119 144 / 25%);
  --inactive-color: rgb(113 119 144 / 78%);
  --content-title-color: #999ba5;
  --search-bg:  #e3e7ea;
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scrollbar-color: #666 #201c29; 
    font-size: 100%;
}


body {
  width: 100%;
  min-height: 100vh;
  margin: 0; 
  background-color: var(--grey-bkg);
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  justify-content: center;
}

.hidden{
  display:none;
}

.dashboard{
  min-width: 540px;
  width: 80%;
  background-color: #ffffff;
  margin: 5rem;
  border-radius: 1em;
  box-shadow: var(--shadow-elevation-medium);
}
.card{
  border-radius: 1.2em;
}

.container-sm {
  width: 100%;
  padding-right: 0px;
  padding-left:0px;
}


/* Form */
.url-card{
  border-radius: 1em;
  width: 100%;
  min-width: 482px;
}

.btn {
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.fa-chevron-right{
  font-size: 1em;
  margin-left: 5px;

}
.card-header {
  border-bottom: 0px;
}

/* Issue Output */

.issue-container{
  position: relative;
  margin-top: 2em;
  padding-right: 1em;
  padding-left: 1em;
}
.issue-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 1em;
}

/* Loader and Alerts */
.loader {
  display: none;
  margin: 2em;
}

.alert-primary{
  display: none;
}

.alert-danger{
  margin: 0 auto;
  width: 20em;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
}



/* Issues Output */

.output-card {
  transition: box-shadow .3s ease-in-out;
  
}

.output-card:hover{
  box-shadow: 0 2px 4px 2px rgba(0,0,0, 0.14);
}

/* .output-card:hover .bg-secondary{

} */

.output-card .card-header{
  border-radius: 1em;
}


/* Animation */
.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}